<h3> Doctor Show </h3>

<h4>Name: <%= @doctor.name %></h4>
<p>Specialty: <%= @doctor.specialty%></p>
<p>University: <%= @doctor.university %></p>
<p>Hospital: <%= @doctor.hospital.name %></p>
<h4>Patients: </h4>
<% @doctor.patients.each do |patient| %>
    <p><%= patient.name %></p>
    <%= form_with url: "/doctors/#{@doctor.id}?patient_id=#{patient.id}", method: :delete, local: true do |f|%>
        <%= f.submit "Delete #{patient.name}"%>

    <% end %>
<% end %>

